<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<mat-toolbar class="toolbar">
  <div class="toolbar-items">
    <img class="logoimage" src="assets/icons/logoicon/education.png" />

    <label class="logotext"> Bookstore</label>

    <input class="searchbox" type="search" placeholder="&#xF002; Search" />
    <label class="cart"
      >cart<img src="assets/icons/carticon/supermarket.png"
    /></label>
  </div>
</mat-toolbar>
